.pitch
  = haml(:'chapters/pitch')

#skip-to-toc.toc
  = haml(:'chapters/toc')

#skip-to-introduction
  = haml(:'chapters/introduction')

#skip-to-chapter-1
  = haml(:'chapters/chapter1')

#skip-to-chapter-2
  = haml(:'chapters/chapter2')

#skip-to-chapter-3
  = haml(:'chapters/chapter3')

#skip-to-chapter-4
  = haml(:'chapters/chapter4')

#skip-to-chapter-5
  = haml(:'chapters/chapter5')

#skip-to-chapter-6
  = haml(:'chapters/chapter6')

#skip-to-chapter-7
  = haml(:'chapters/chapter7')

#skip-to-chapter-8
  = haml(:'chapters/chapter8')

#skip-to-chapter-9
  = haml(:'chapters/chapter9')

#skip-to-chapter-10
  = haml(:'chapters/chapter10')

#skip-to-epilogue
  = haml(:'chapters/epilogue')